@import "../../../style-globals.scss";

.investor-company{
    background: transparent;
    h2 {
        padding-right: 7rem;
      }
}

.btn-investor{
        @include btn-medium-full(40px);
        width: 151px;
        box-shadow: -8px 12px 11px rgba(2, 115, 232, 0.1);
      border-radius: 8px;
box-shadow: -8px 12px 11px rgba(2, 115, 232, 0.1);
background: $verde-folha;

}