@import "../../../style-globals.scss";

.contact-container{
    padding: 0 3.5rem;
    margin-bottom: -13.5rem;
}

.contact-background{
    background: $off-black;
    height: 13.5rem;
}

.contact-text-container{
    @include  flexDirection(column);
    background: $color-neutral-light ;
    border-radius: 16px 0px 0px 16px;
}

.contact-form-container{
    // @include  flexDirection(column);
    background: $color-neutral-light ;
    border-radius: 0px 16px 16px 0px;
}

.contact-header{
    @include main-text($gray-600, 3rem);
    font-weight: 700 !important;
}

.contact-text{
    @include main-text($gray-600, 1.25rem);
}

.input-text{
    @include main-text($gray-600, 18px);
    font-weight: 500;
}

.radio-tittle{
    @include main-text($gray-600, 14px);
    font-weight: 500;
}

.radio-text{
    @include main-text($gray-600, 14px);
    margin-bottom: 1rem;
}

.submit-button{
@include btn-medium-full(48px);
width: 100%;
}