@import '../../../style-globals.scss';

.main-company{

    background: $color-neutral-light;
    .row-company{
        padding: 0 3.5rem;
    }

    .company-text-container{
        @include  flexDirection(column);
        padding-right: 6rem;
    }
    h2{
        padding-right: 7rem;
    }
}

.btn-company{
    @include btn-medium-full(40px);
    width: 151px;
}

.company-banner{
    width: inherit;
}

.icons-container-left{
    padding-top: 4rem;
}