@import '../../../style-globals.scss';

.supplier-banner{
    margin-top: -2.9rem;
}

.supplier-text{
@include supplier-text(2rem);
font-weight: bold;
}

.icons-container{
    width: 60%;
    position: absolute;
    right: 0;
    margin-top: -5%;
}