@import "../../../style-globals.scss";

.supplier-container {
  @include flexDirection(column);
  padding-left: 6.4rem !important;
}
.supplier-banner {
  margin-top: -3.3rem;
  width: inherit;
}
.icons-container {
  width: 52%;
  position: absolute;
  right: 6rem;
  margin-top: -9%;
}
.supplier-text-icons {
  @include main-text($gray-500, 1.25rem);
}