@import "../../style-globals.scss";

.footer-container {
  background: $off-black;
}
.row-logo {
  @include flexCenter();
  padding: 2.5rem 0;
}
.container-titles {
  padding: 0 8.8rem;
}
.titles-footer {
  line-height: 24px;
  h6 {
    @include main-text($branco-uacari, 18px);
    font-weight: 400;
    padding-bottom: 1.5rem;
  }
  p {
    color: $color-neutral-dark;
  }
}
.container-icons {
  padding-right: 5rem;
}
.copyright-footer {
  @include main-text($branco-uacari, 14px);
  a {
    text-decoration: underline;
    color: $branco-uacari;
  }
}
.radio-input {
  color: $branco-uacari;
  margin-right: 2.5rem;
}
.lenguage-row {
  @include flexSpace(flex-end);
  background: $preto-prego;
  padding: 1.5rem 3.5rem;
}
