
//colors
$color-neutral-darkest : #000000;
$color-neutral-dark :#747880;
$color-neutral-medium : #D6D7DA;
$color-neutral-light : #EFF0F1;
$color-neutral-lightest : #FFFFFF;

$azul-roxellana : #0273E8;
$branco-uacari : #FFFFFF;
$preto-prego : #1E232C;
$off-black : #364254;

$amarelo-guariba: #E3B839;
$rosa-mandril : #CE596D;
$gorilla-roxo : #744DA6;
$verde-folha : #009966;

$banco-bnp : #009966;
$banco-bradesco : #CC092F;
$banco-voiter : #36264D;
$banco-itau : #EC7000;
$banco-sofisa : #17B497;
$banco-inter : #FF8700;
$icons-blue :  #153446;

$gray-600 : #4B4A53;
$gray-300 : #D6D6D6;
$gray-100 : #F5F5F5;

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-content: center;
}

@mixin flexSpaceBeetween() {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

@mixin flexDirection ($direction) {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: $direction;
}

@mixin btn-medium-full($height) {
    width: 40px;
    height: $height;
    background: $azul-roxellana;
    border-radius: 8px;
    border: none;
    color: $branco-uacari;
}

@mixin btn-medium-border($height) {
    width: 219px;
    height: $height;
    border: 1px solid $azul-roxellana;
    box-sizing: border-box;
    border-radius: 8px;
    color :  $azul-roxellana;
    background: transparent;
}

@mixin supplier-text($size) {
    color: $gray-600;
    font-size: $size;
}

.first-block{
    background: $gray-100;
    border-radius: 2rem;
}

//@include flexCenter()
//@include flexDirection(column)